body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}

input, button {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
}

#output {
  font-size: 1.2em;
  margin-top: 15px;
  word-wrap: break-word;
  max-width: 400px;
}
