html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  background-color: #115C37;
  color: white;
}

input, button {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
}

#output {
  font-size: 1.8em;
  margin-top: 15px;
  word-wrap: break-word;
  max-width: 400px;
  white-space: pre-wrap;
}

#banner {
  width: 100vw;
  max-height: 50px;
  height: 100px;
  background-image: url('string-lights.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: top left;
  margin: 0px 0;
}